@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    scroll-behavior: smooth;
    font-size: 1rem;
    overflow: hidden;
}

body{
    background-color: #e2e2e4;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

 .navbar .top{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
}
 .navbar .top .logo {
    color: orange;
    font-size: 40px;
    margin: 10px 16px 4px 30px;
    padding: 14px 16px;
 }

.navbar .search-container{
    margin: 10px 50px 4px 30px;
}
  
  .navbar .top input[type=text] {
    padding: 10px 14px;
    margin: 20px 14px;
    font-size: 17px;
    border: none;
  }
  

 .navbar .top .user{
    margin: 25px 16px 4px 10em;
    font-size: 40px;
  
 }

 .navbar .vitu{
    display: flex;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
    overflow:hidden;
    margin-top: 10px;
    position: sticky;
 }

 

 .vitu button{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    overflow: hidden;
 }

 .dropdown-1 .dropdown-content-1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
 }

 .dropdown-2 .dropdown-content-2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
 }

 .dropdown-3 .dropdown-content-3{
    display:none;
    position: absolute;
    background-color:#f9f9f9 ;
 }

 .dropdown-4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
 }

 .vitu a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

 }